In [2]:
import pandas as pd
n = 5

class CollectVars:
    def __init__(self, **kwargs) -> None:
        self.dict = {k:[v] for k,v in kwargs.items()}
    
    def load(self, **kwargs):
        for k,v in kwargs.items():
            if k in self.dict:
                self.dict[k].append(v)
            else:
                self.dict[k] = [v]
            
    def data_frame(self):
        return pd.DataFrame(self.dict)

collect_vars = CollectVars()
for i in range(n):
    for j in range(i + 1, n):
        for k in range(i, j):
            collect_vars.load(**dict(i=i,j=j,k=k))
collect_vars.data_frame()

    i  j  k
0   0  1  0
1   0  2  0
2   0  2  1
3   0  3  0
4   0  3  1
5   0  3  2
6   0  4  0
7   0  4  1
8   0  4  2
9   0  4  3
10  1  2  1
11  1  3  1
12  1  3  2
13  1  4  1
14  1  4  2
15  1  4  3
16  2  3  2
17  2  4  2
18  2  4  3
19  3  4  3

In [3]:
collect_vars = CollectVars()
for i in range(n):
    for j in range(i + 1, n):
        for k in range(i, j):
            collect_vars.load(**dict(i=i,j=j,k=k, s=(k-i)))
collect_vars.data_frame()

    i  j  k  s
0   0  1  0  0
1   0  2  0  0
2   0  2  1  1
3   0  3  0  0
4   0  3  1  1
5   0  3  2  2
6   0  4  0  0
7   0  4  1  1
8   0  4  2  2
9   0  4  3  3
10  1  2  1  0
11  1  3  1  0
12  1  3  2  1
13  1  4  1  0
14  1  4  2  1
15  1  4  3  2
16  2  3  2  0
17  2  4  2  0
18  2  4  3  1
19  3  4  3  0